<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <div class="bg-white p-3 m-3 border-muted text-uppercase">
                <div class="row m-1">
                    <h4 class="text-muted mr-auto">Request Form</h4>
                    <a class="close" aria-label="Close" href="#" [routerLink]="['/request']">
                        <span aria-hidden="true">&times;</span>
                    </a>
                </div>
                <hr>
                    <div class="m-3">
                        <div class="row">
                            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                                <label class="font-weight-light small text-muted mr-auto">Control No.: {{ controlNumber }}</label>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <label class="font-weight-light small text-muted text-nowrap">Date Requested: {{ dateRequested }}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                                <label class="font-weight-light small text-muted text-nowrap">Requested By: {{ requestedBy }}</label>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <label class="font-weight-light small text-muted text-nowrap">Supervisor: {{ approvedBy }}</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                                <label class="font-weight-light small text-muted text-nowrap">Priority: {{ requestedPriority }}</label>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <label class="font-weight-light small text-muted text-nowrap">Date Required: {{ requestedDateRequired }}</label>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <label class="font-weight-500 to-gray text-nowrap">
                                    Department: 
                                    <span class="font-weight-light">
                                        {{ requestedDepartment | uppercase }}
                                        <span *ngIf="requestedDepartment === 'opt'">
                                            - {{ requestedMachine | uppercase }}
                                        </span>
                                    </span>
                                </label>

                                <div class="mb-2" *ngIf="requestedAttachment">
                                    <label class="font-weight-500 to-gray text-nowrap" *ngIf="requestedAttachment">
                                        Attachment: 
                                        <mat-slide-toggle (click)="setAttachment()">{{ attrAttachment === false ? 'SHOW' : 'HIDE' }}</mat-slide-toggle>
                                    </label>
                                    <img *ngIf="attrAttachment" src="{{ requestedAttachment }}" class="w-100" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <label class="font-weight-500 to-gray text-nowrap">
                                    Request
                                </label>
                                <div class="m-3">
                                    <table class="table table-bordered table-sm">
                                        <thead class="text-white">
                                            <tr>
                                                <th class="w-50">Request</th>
                                                <th class="w-50">Remarks</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let req of reqDetails">
                                                <td>{{ req.description }}</td>
                                                <td>
                                                    {{ req.remarks }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <mat-form-field class="w-100">
                                    <textarea matInput placeholder="WRITE SOME NOTES." autofocus="true"></textarea>
                                </mat-form-field>
                            </div>
                        </div>

                        <!-- Show if request type = details && user level = head / manager -->
                        <div class="form-group row mt-3" *ngIf="reqStatus === 'delivered' && (userLevel === 'head' || userLevel === 'manager')">
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
                            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                <button mat-raised-button color="warn" class="w-100 text-uppercase">Reject</button>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                <button mat-raised-button color="primary" class="w-100 text-uppercase">Approve</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
    </div>
</div>