label, 
button {
    font-weight: 500;
}

table thead {
    background: #673ab7 !important;
    /* #4c43ff */
}

table thead th {
    font-weight: 600 !important;
    text-align: center;
    border-bottom: 0;
}

th, td {
    border: 2px solid #673ab7;
    /* #4c43ff */
}

td {
    text-align: center;
    font-weight: 500;
    color: rgba(0, 0, 0, .70);
    font-size: 13.5px !important;
}

.to-gray {
    color: rgba(0, 0, 0, .70)
}

.border-muted {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
}

.btn-primary {
    background-color: #4c43ff !important;
    border-color: #4c43ff !important;
}

.btn-primary:focus {
    color: white;
}

.font-weight-500 {
    font-weight: 500 !important;
}

input[type=checkbox],
input[type=radio] {
    transform: scale(1.7);
}

.example-container {
    display: flex;
    flex-direction: column;
}

.example-container > * {
    width: 100%;
}

.form-group {
    margin-bottom: 0 !important;
}