label, 
button {
    font-weight: 500;
}

table thead {
    background: #673ab7 !important;
}

table thead th {
    font-weight: 600 !important;
    text-align: center;
    border-bottom: 0;
}

th, td {
    border: 2px solid #673ab7;
}

td {
    text-align: center;
    font-weight: 500;
    color: rgba(0, 0, 0, .70);
    font-size: 13.5px !important;
}

.to-gray {
    color: rgba(0, 0, 0, .70)
}