table thead {
    background: #4c43ff !important;
}

table thead th {
    font-weight: 600 !important;
    text-align: center;
    border-bottom: 0;
    color: white;
}

th, td {
    border: 2px solid #4c43ff;
}

td {
    text-align: center;
    font-weight: 500;
    color: rgba(0, 0, 0, .70);
    font-size: 13.5px !important;
}

.border-muted {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
}

button {
    font-weight: 500;
}