label, 
button {
    font-weight: 500;
}

label {
    margin-bottom: 0 !important;
}

ul {
    list-style: none; /* Remove default bullets */
}
  
ul li::before {
    content: "\2022";
    color: #4c43ff;
}