<mat-form-field class="w-100">
    <mat-label>DEPARTMENT HEAD</mat-label>
    <mat-select 
        id="reqRecipient" 
        [(ngModel)]="recipientID"
        #recipientVal
        (selectionChange)="selectRecipient(recipientVal.value)"
        matNativeControl
        required>
        <mat-option value="0" disabled>PLEASE SELECT</mat-option>
        <mat-option *ngFor="let recipient of recipient;" value="{{ recipient.id }}">{{ recipient.name }}</mat-option>
    </mat-select>
    <mat-error *ngIf="!recipientID" class="small">
        Please fill out this field.
    </mat-error>
</mat-form-field> 