label, 
button {
    font-weight: 500;
}

.to-gray {
    color: rgba(0, 0, 0, .70)
}

.border-muted {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
}

.btn-primary {
    background-color: #4c43ff !important;
    border-color: #4c43ff !important;
}

.btn-primary:focus {
    color: white;
}

.font-weight-500 {
    font-weight: 500 !important;
}

input[type=checkbox],
input[type=radio] {
    transform: scale(1.7);
}