
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
        <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
            <div class="bg-light p-3 m-3 border-muted">
                <div class="row m-1">
                    <h4 class="text-muted text-uppercase">Manage Assigned Service Requests</h4>
                </div>
                <!-- <hr> -->
                <div class="table-responsive">
                    <table class="table table-bordered table-sm text-center" id="tbl_manage" width="100%">
                    <thead class="text-uppercase">
                        <tr>
                            <th rowspan="2" class="align-middle">Service <br />Status</th>
                            <th rowspan="2" class="align-middle">Requested <br />By</th>
                            <th rowspan="2" class="align-middle">Service <br />Type</th>
                            <th rowspan="2" class="align-middle">Remarks</th>
                            <th rowspan="2" class="align-middle">Service <br />Representative</th>
                            <th rowspan="2" class="align-middle">Date <br />Submitted</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let req of requests; let i = index;">
                            <td>{{ req.status | titlecase }}</td>
                            <td>{{ req.recipient}}</td>
                            <td>{{ req.priority}}</td>
                            <td>{{ req.description}}</td>
                            <td>{{ req.recipient}}</td>
                            <td>
                                {{ req.date_required}} 
                                <button class="btn btn-link btn-sm font-weight-bold" (click)="checkValue(req)">&#8599;</button>
                            </td>
                        </tr>
                    </tbody>
                    </table>                     
                </div>
            
            </div>
        </div>
        <div class="col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
    </div>
</div>